@-moz-document url-prefix('https://web.skype.com/') {

@media only screen and (max-width:500px) {

:root body.swx {min-height:240px; height:100%;}
  
:root .swx .side, :root .swx .Me-small {border-left:none !important;}

:root .swx .ContactsPage-heading {margin:0px 5px 0px 0px !important;}

:root .swx .ContactsPage-hint {margin-top:0px !important; margin-bottom:0px !important; padding:1px 6px 1px !important;}

:root .swx .ContactsPage-body {padding:0px !important;}

:root .swx .ContactsPage-header {margin:0px 1px 5px 3px !important; padding:0px !important;}

:root .swx .ContactsPage-categories {padding-top:0px !important;}

:root .swx .ContactsPage-body .peoplePicker {padding-top:0px !important;}

:root .swx .chat .conversationHeader .headerMain .roster .grid {padding-top:0px !important;}

:root .swx .chat .conversationHeader .headerMain .roster .grid .tile.conversationTopic h3 .button.chevronUp {top:11px !important; left:-15px !important;}

:root .swx .chat .conversationHeader .headerControls {margin-top:0px !important; margin-bottom:14px !important; padding-bottom:0px !important;}

:root .swx .chat .conversation .typing {height:unset !important;}

:root .swx .chat .input.active {position:absolute; top:22px; right:0px; z-index:5; width:100%;}
  
:root .swx.desktop:not([class*='dark']) .chat .input.active {background-color:rgba(255, 255, 255, 0.9);}

:root .swx .chat .input .form form {margin:8px 0px 0px 0px !important;}

:root .swx.desktop:not([class*='dark']) .chat .input.active .form form {background-color:white;}

:root .swx .UserSettingsPage-master {min-width:160px !important; max-width:160px !important; overflow-y:auto;}

:root .swx .UserSettingsPage-detail {position:absolute !important; top:0px !important; left:160px !important; width:unset !important; display:inline-table !important;}

:root .swx .shell.footer {padding:0px !important; height:unset !important; display:inline-block !important;}

:root .swx .shell.footer .app {display:block !important; margin-top:0px !important; margin-right:0px !important; padding-top:0px !important; height:15px !important; vertical-align:initial !important;}

:root .swx .shell.footer P {display:table-cell !important; margin:0px !important; padding-right:3px; line-height:13px !important;}

:root .swx .shell.footer A {line-height:13px !important;}

:root .swx p.smaller {top:0px !important;}

:root .swx .shell.footer .languageSelectorForm {position:absolute !important; display:block !important; top:0px !important; right:0px !important; height:95% !important; margin:0px !important; border-left:solid 1px #B0C5D1 !important; padding:0px 5px !important; line-height:16px !important; vertical-align:initial !important;}

:root .swx .shell.footer .languageSelectorForm .selectedLanguage {line-height:26px !important;}

:root .swx .shell.footer .languageSelectorForm .languageSelector {height:100% !important; font-size:11px !important;}

:root .swx .shell.footer .legal {margin-top:0px !important; display:block !important; line-height:8px !important;}

}
}
